:root {
	--bg-colour: #D3D0CB;
    --primary-colour: #2E5266;
    --secondary-colour: #6E8898;

    --bg-colour--dark-scheme: #2E5266;
    --primary-colour--dark-scheme: #D3D0CB;
    --secondary-colour--dark-scheme: #6E8898;
	--font-family: 'Helvetica';

    --text-colour: var(--primary-colour);
}

* {
	box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
    padding: 0;
	background-color: var(--bg-colour);
	font-family: var(--font-family);
	-webkit-app-region: drag;
}

body {
    display:grid;
    grid-template-rows: 1fr auto;
}

.editor {
    display: grid;
    grid-row: 1;
} 

textarea {
	width: 100%;
	background-color: transparent;
	color: var(--text-colour);
	font-family: var(--font-family);
	border: none;
    padding: 2rem;
    font-size: 1rem;
	line-height: 1.5;
	resize:none;
    opacity: 0.6;
}

input {
    font-size: 0.875rem;
    background-color: transparent;
    width: 100%;
    color: var(--text-colour);
    border: none;
    font-weight: bold;
    font-family: var(--font-family);
    opacity: 0.6;
}

textarea:focus,
input:focus {
	outline: none;
    opacity: 1;
}

textarea::placeholder,
input::placeholder {
    color: var(--colour--secondary);
}

.btn {
    font-size: 0.75rem;
	background-color: var(--bg-colour);
	padding: 0.5rem;
	border: 1px solid var(--secondary-colour);
	color: var(--secondary-colour);
	font-weight: light;
	border-radius: 6px;
	cursor: pointer;
	transition: 100ms linear background-color, 100ms linear color, 100ms ease-out transform;
	box-shadow: none;
    z-index: 2;
}

.btn:hover {
    background-color: var(--secondary-colour);
    color: var(--bg-colour);
}

.ui {
    grid-row: 2;
    padding: 1rem;
    display: flex;
    gap: 0.5rem;
    border-top: 0.25px solid var(--secondary-colour);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-colour: var(--bg-colour--dark-scheme);
        --primary-colour: var(--primary-colour--dark-scheme);
        --secondary-colour: var(--secondary-colour--dark-scheme);
    }
}

